*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: latte;
    src: url(/fonts/Coffee\ Latte.ttf);
}

:root{
    --brown:#a17c5c;
    --darkbrown: rgb(105, 51, 15);
}

body{
    background-image: url(/images/background.png);
    background-position: center;
    background-size: cover;
}

body #titulo{
    font-family: latte;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--darkbrown);
    background-color: #f3d4baaf;
    padding: 40px;
}
#texto{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: rgb(49, 23, 5);
    font-size: 30px;
    padding: 40px;
    margin-bottom: 40px;
    background-color: #fce8d87a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
